.news-widget-tiding {
	display: table;
	table-layout: fixed;
	width: 100%;
	position: relative;
	padding: 13px 10px 13px 12px;
	box-shadow: 0 1px 0 0 #f0f0f0;
	box-sizing: border-box;

	font-size: 13px;
	font-weight: 400;
	line-height: 1.38;
	letter-spacing: 0.1px;

	&:hover {
		background: #f0f0f0;
	}

	&__image-wrapper {
		display: table-cell;
		width: 45px;
		vertical-align: top;
		padding-right: 12px;
	}

	&__image {
		width: 45px;
		height: 45px;
		border-radius: 50%;
	}

	&__info {
		width: 180px;
		display: table-cell;
		vertical-align: top;
	}

	&__text {
		color: #333333;
		cursor: default;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	&__link {
		padding-top: 2px;
		cursor: pointer;
		display: inline-block;
	}

	&__date {
		display: table-cell;
		cursor: default;
		vertical-align: top;
		text-align: center;
		color: #999999;
		padding: 0 4px;
		width: 40px;
		white-space: nowrap;
	}

	&__whelk-container {
		display: table-cell;
		vertical-align: top;
		text-align: center;
		opacity: 1;
		visibility: visible;
		transition: opacity 0.2s ease-out 1.5s;
	}

		&__whelk {
			height: 8px;
			width: 8px;
			border-radius: 50%;
			background-color: #ffa930;
			display: inline-block;
		}

	&_seen {
		.news-widget-tiding__whelk-container {
			visibility: hidden;
		}
	}
}