.news-widget-promo {
	position: relative;
	background-color: #f7f7f7;
	padding: 13px 12px 12px;

	&__close {
		z-index: 100;
		display: none;
		position: absolute;
		right: 2px;
		top: 8px;
		padding: 5px;
		cursor: pointer;
	}

	.b-media {
		padding: 0;

		.btn {
			font-size: 15px;
		}
	}

	.b-media__body {
		padding-bottom: 2px;
		max-width: 225px;
	}

	.b-media__text {
		color: #333333;
		cursor: default;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0.1px;
		margin: 5px 0 12px;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	.b-media__image {
		padding-right: 12px;
	}

	.b-media__image-size {
		width: 45px;
		height: 45px;
	}
}

.news-widget-promo:hover {
	.news-widget-promo__close {
		display: block;
	}
}