.news-widget {
	position: relative;
	width: 100%;
	height: 100%;
	padding-bottom: 46px;
	box-sizing: border-box;
	min-height: 280px;

	&__counter {
		display: inline-block;
		position: absolute;
		top: 7px;
		right: 0px;
		z-index: 50;

		overflow: hidden;
		margin-bottom: -4px;
		margin-left: 3px;
		padding: 1px 3px;
		min-width: 9px;
		height: 13px;
		border-radius: 7px;
		background-color: #ffa930;
		color: #fff;
		vertical-align: baseline;
		text-align: center;
		font-weight: 400;
		font-style: normal;
		font-size: 11px;
		line-height: 13px;
		cursor: pointer;

		opacity: 1;
		transition: opacity 0.2s ease-out 1.5s;
	}

	&__counter_toseen {
		opacity: 0;
	}

	&__title {
		position: relative;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: bold;
		padding: 11px 12px 10px;
		box-shadow: 0 1px 0 0 #f0f0f0;
	}

	&__footer {
		width: 100%;
		position: absolute;
		bottom: 0;
		text-align: center;
		padding: 13px 0;
	}

	.b-link:hover {
		text-decoration: underline;
	}

	.b-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

.news-widget_toseen {
	.news-widget-tiding__whelk-container {
		opacity: 0;
	}
}